[Unit]
Description=ServerStatus-Server
After=network.target
[Service]
ExecStart=/home/wwwroot/ServerStatus/server/sergate --config=/home/wwwroot/ServerStatus/server/config.json --web-dir=/home/wwwroot/ServerStatus/web
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
[Install]
WantedBy=multi-user.target
